Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\naveen chopra\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\naveen chopra\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\naveen chopra\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\naveen chopra\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\naveen chopra\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\naveen chopra\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\naveen chopra\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\naveen chopra\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\naveen chopra\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [10]:
driver1 = webdriver.Chrome(r"Chromedriver.exe")

In [11]:
driver1.get("https://www.naukri.com/")

In [12]:
designation1= driver1.find_element(By.CLASS_NAME,"suggestor-input")
designation1.send_keys("Data Analyst")

In [13]:
location1= driver1.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location1.send_keys("Bangalore")

In [14]:
search1 = driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [41]:
job_title1 = []
job_location1 = []
company_name1= []

In [42]:
title_tags1 = driver1.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i1 in title_tags1[0:10]:
    title1=i1.text
    job_title1.append(title1)

In [43]:
location_tags = driver1.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i1 in location_tags[0:10]:
    location1=i1.text
    job_location1.append(location1)

In [44]:
company_tags1 = driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i1 in company_tags1[0:10]:
    companyname1= i1.text
    company_name1.append(companyname1)

In [45]:
print(len(job_title1), len(job_location1), len(company_name1))

10 10 10

In [48]:
df1 = pd.DataFrame({'Jobs':job_title1,'Locations':job_location1,'Companys':company_name1})

df1

,Jobs,Locations,Companys
0,Data Analyst,Bangalore/Bengaluru,ANZ
1,Data Analyst,Bangalore/Bengaluru,ANZ
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne
7,Data Analyst,Bangalore/Bengaluru,Siemens
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge
9,Data Analyst,Bangalore/Bengaluru,Dpdzero

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [70]:
driver2 = webdriver.Chrome(r"Chromedriver.exe")

In [71]:
driver2.get("https://www.naukri.com/")

In [72]:
designation2 = driver2.find_element(By.CLASS_NAME,"suggestor-input")
designation2.send_keys("Data Scientist")

In [73]:
location2 = driver2.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location2.send_keys("Bangalore")

In [74]:
search2 = driver2.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [126]:
job_title2 = []
location2 = []
company_name2 = []
experience2= []

In [127]:
title_tags2 = driver2.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i2 in title_tags2[0:10]:
    title2=i2.text
    job_title2.append(title2)

In [128]:
location_tags2 = driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i2 in location_tags2[0:10]:
    loct2=i2.text
    location2.append(loct2)

In [129]:
company_tags2 = driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i2 in company_tags2[0:10]:
    companyname2 = i2.text
    company_name2.append(companyname2)

In [130]:
experience_tags2 = driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i2 in experience_tags2[0:10]:
    exp2 = i2.text
    experience2.append(exp2)

In [131]:
print(len(job_title2),len(location2),len(company_name2), len(experience2))

10 10 10 10

In [133]:
df2 = pd.DataFrame({'JOB_title': job_title2, "location" : location2, "company": company_name2, "experience":experience2})
df2

,JOB_title,location,company,experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics,5-11 Yrs
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent,5-12 Yrs
3,Data Science Analyst,Bangalore/Bengaluru,Accenture,3-5 Yrs
4,Data Scientist,Bangalore/Bengaluru,IBM,7-12 Yrs
5,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software,3-6 Yrs
6,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture,3-5 Yrs
7,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture,3-5 Yrs
8,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture,7-11 Yrs
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart,7-9 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below

In [43]:
driver3=webdriver.Chrome("Chromedriver.exe")

In [44]:
driver3.get(" https://www.naukri.com/")

In [45]:
job_title=driver3.find_element(By.CLASS_NAME,'suggestor-input ')
job_title.send_keys("Data scientist")

In [46]:
search=driver3.find_element(By.CLASS_NAME,'qsbSubmit ')
search.click()

In [47]:
location_filter=driver3.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location_filter.click()

In [48]:
salary_filter = driver3.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [63]:
job_title1 = []
job_location1 = []
company_name1= []
experience_required=[]


job_tag=driver3.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in job_tag[0:10]:
    job_tag1=i.text
    job_title1.append(job_tag1)

    
job_location=driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in job_location[0:10]:
    job_loc=i.text
    job_location1.append(job_loc)

    
company_name=driver3.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name[0:10]:
    company=i.text
    company_name1.append(company)

    
experience_required1=driver3.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_required1 [0:10]:
    experience_req=i.text
    experience_required.append(experience_req)

In [60]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required))

10 10 10 10

In [61]:
df2 = pd.DataFrame({'JOB_title': job_title1, "location" : job_location1, "company": company_name1, "experience":experience_required})
df2

,JOB_title,location,company,experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
5,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
6,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
7,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
8,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs
9,Assistant Manager - Data Scientist,Gurgaon/Gurugram,Fidelity International,5-7 Yrs

Q4.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [144]:
driver4=webdriver.Chrome("Chromedriver.exe")

driver4.get("https://www.flipkart.com/")

In [145]:
product_info=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product_info.send_keys("Sunglasses")

In [148]:
search=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [149]:
product_detail=[]
product_description=[]
price=[]

product_detail1= driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i2 in product_detail1[0:100]:
    product = i2.text
    product_detail.append(product)
    
    
product_description1= driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i2 in product_description1[0:100]:
    product_des = i2.text
    product_description.append(product_des)
    
    
    
price1= driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i2 in price1[0:100]:
    price_info = i2.text
    price.append(price_info)

In [150]:
print(len(product_detail),len(product_description),len(price))

38 38 40

In [175]:
#df4 = pd.DataFrame({'Brand':product_detail[0:37],'Product Description':product_description[0:37],'Price':price[0:37]})

In [179]:
product_details1 = []
product_info = []
pricing  = []
start = 0
end = 3

for page in range(start,end):
    product = driver4.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    
    for i in product:
        product_details1.append(i.text)
        
for page in range(start,end):
    product_detail=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for i in product_detail:
        product_info.append(i.text)
        
for page in range(start,end):
    price1= driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    for i in price1:
        pricing.append(i.text)
    next_button= driver4.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [182]:
print(len(product_details1),len(product_info),len(pricing))

120 114 120

In [184]:
#print(*product_details1,sep="\n")

In [176]:
#product_info = []
start = 0
end = 3

for page in range(start,end):
    product_detail=driver4.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for i in product_detail:
        product_info.append(i.text)
        
for page in range(start,end):
    price1= driver4.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    
    for i in price1:
        pricing.append(i.text)
        
        
    next_button2= driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button2.click()
    time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]"}
  (Session info: chrome=113.0.5672.64)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00648893+48451]
	(No symbol) [0x005DB8A1]
	(No symbol) [0x004E5058]
	(No symbol) [0x00510467]
	(No symbol) [0x0051069B]
	(No symbol) [0x0053DD92]
	(No symbol) [0x0052A304]
	(No symbol) [0x0053C482]
	(No symbol) [0x0052A0B6]
	(No symbol) [0x00507E08]
	(No symbol) [0x00508F2D]
	GetHandleVerifier [0x008A8E3A+2540266]
	GetHandleVerifier [0x008E8959+2801161]
	GetHandleVerifier [0x008E295C+2776588]
	GetHandleVerifier [0x006D2280+612144]
	(No symbol) [0x005E4F6C]
	(No symbol) [0x005E11D8]
	(No symbol) [0x005E12BB]
	(No symbol) [0x005D4857]
	BaseThreadInitThunk [0x764E7D49+25]
	RtlInitializeExceptionChain [0x77ACB74B+107]
	RtlClearBits [0x77ACB6CF+191]

In [177]:
print(len(product_info))

234

In [166]:
print(len(pricing))

120

In [183]:
df4 = pd.DataFrame({"brand":product_details1[0:100], "description":product_info[0:100], "price": pricing[0:100]})
df4

             brand                                        description price
0    VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹689
1    VINCENT CHASE  by Lenskart UV Protection Retro Square Sunglas...  ₹789
2        Elligator             UV Protection Wayfarer Sunglasses (53)  ₹149
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹109
4        Elligator  Polarized, UV Protection Retro Square Sunglass...  ₹149
..             ...                                                ...   ...
95         ALIXERO      UV Protection Wayfarer Sunglasses (Free Size)  ₹962
96           NuVew  Gradient, UV Protection Wayfarer Sunglasses (F...   ₹99
97       Elligator  Polarized, Gradient, UV Protection, Mirrored O...  ₹249
98            SRPM   UV Protection, Mirrored Wayfarer Sunglasses (57)  ₹274
99  ROZZETTA CRAFT        UV Protection Shield Sunglasses (Free Size)  ₹849

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKAR

In [4]:
driver5=webdriver.Chrome("Chromedriver.exe")

In [11]:
driver5.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [37]:
ratings=[]
review_summary=[]
full_review=[]
start = 0
end = 10

        
for page in range(start,end):
    rating=driver5.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        ratings.append(i.text)
    
for page in range(start,end):
    review=driver5.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_summary.append(i.text)

for page in range(start,end):    
    full_review1=driver5.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review1:
        full_review.append(i.text)  
    
next_button= driver5.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(10)

In [38]:
print(len(ratings),len(review_summary),len(full_review))

100 100 100

In [40]:
df5=pd.DataFrame({"Rating":ratings,"Review_summary":review_summary,"Full_review":full_review})
df5

,Rating,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [103]:
driver6=webdriver.Chrome("Chromedriver.exe")

In [104]:
driver6.get("https://www.flipkart.com/")

In [105]:
product=driver6.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys("Sneakers")

In [106]:
search=driver6.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [111]:
brand=[]
product_description=[]
price=[]
start=0
end=3


for page in range(start,end):
    brand1=driver6.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand1:
        brand.append(i.text)
    
for page in range(start,end):
    product_description1=driver6.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in product_description1:
        product_description.append(i.text)

for page in range(start,end):    
    price1=driver6.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price1:
        price.append(i.text)  
    
next_button= driver6.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [112]:
print(len(brand),len(product_description),len(price))

120 120 120

In [113]:
df5=pd.DataFrame({"Brand":brand,"product_detail":product_description,"pricing":price})
df5

,Brand,product_detail,pricing
0,K- FOOTLANCE,"K- FOOTLANCE\nSneakers For Men\n₹499₹1,99975% ...",₹499
1,K- FOOTLANCE,K- FOOTLANCE\nCasual Sneakers White Outdoor Sh...,₹499
2,Layasa,Layasa\nCasual Sneakers White Shoes For Girls ...,₹449
3,aadi,aadi\nSynthetic Leather |Lightweight|Comfort|S...,₹299
4,BIRDE,BIRDE\nCombo Pack Of 2 Casual Shoes Sneakers F...,₹499
...,...,...,...
115,Shozie,Shozie\nStylish Sneakers Shoes for Women And G...,₹445
116,Sparx,"Sparx\nSM-322 Sneakers For Men\n₹959₹1,19920% ...",₹959
117,aadi,aadi\nMesh |Lightweight|Comfort|Summer|Trendy|...,₹299
118,BIRDE,BIRDE\nTrendy Casual Shoe For Men Pack Of 2 Sn...,₹499
119,World Wear Footwear,World Wear Footwear\nLatest Exclusive Affordab...,₹279

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” :
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [44]:
driver7=webdriver.Chrome("Chromedriver.exe")

In [45]:
driver7.get(" https://www.amazon.in/")

In [46]:
product1=driver7.find_element(By.ID,'twotabsearchtextbox')
product1.send_keys("Laptop")

In [47]:
search=driver7.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [48]:
filter1=driver7.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[10]/li/span/a/span')
filter1.click()

In [49]:
title=[]
ratings=[]
price=[]

  
titles=driver7.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[0:10]:
    t1=i.text
    title.append(t1)

rating=driver7.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']")
for i in rating[0:10]:
    r1=i.text
    ratings.append(r1)

    
pricing=driver7.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in pricing[0:10]:
    p1=i.text
    price.append(p1)

In [50]:
print(len(title),len(ratings),len(price))

10 8 10

In [51]:
df7=pd.DataFrame({"Title":title[0:8],"Rating":ratings[0:8],"Price":price[0:8]})
df7

                                               Title Rating     Price
0  Acer Predator Helios Neo 16 Gaming Laptop 13th...         1,29,990
1  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...           94,989
2  Lenovo Legion 5 Pro Intel Core i7-12700H 16" (...         2,18,108
3  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...           98,990
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           88,990
5  Dell G15-5520 Gaming Laptop, i7-12650H, 16GB D...         1,23,990
6  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...           79,990
7  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...         1,02,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [34]:
driver8=webdriver.Chrome("Chromedriver.exe")

In [35]:
driver8.get("https://www.azquotes.com/")

In [36]:
top_quotes=driver8.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [40]:
Author=[]
quote=[]
type_of_quote=[]
start=0
end=10
for page in range(start,end):
    author=driver8.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        Author.append(i.text)
    
    
for page in range(start,end):
    quotes=driver8.find_elements(By.XPATH,"//a[@class='title']")
    for i in quotes:
        quote.append(i.text)
    

for page in range(start,end):  
    typeq=driver8.find_elements(By.XPATH,"//div[@class='tags']")
    for i in typeq:
        type_of_quote.append(i.text)


next_button= driver8.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()
time.sleep(3)

In [41]:
print(len(Author),len(quote),len(type_of_quote))

1000 1000 1000

In [42]:
df8=pd.DataFrame({"Author":Author,"Quote":quote,"type_of_quote":type_of_quote})
df8

,Author,Quote,type_of_quote
0,Michael Porter,The essence of strategy is choosing what not t...,"Essence, Deep Thought, Transcendentalism"
1,Golda Meir,One cannot and must not try to erase the past ...,"Inspiration, Past, Trying"
2,Theodore Roosevelt,Patriotism means to stand by the country. It d...,"Country, Peace, War"
3,Nelson Mandela,Death is something inevitable. When a man has ...,"Inspirational, Motivational, Death"
4,Erma Bombeck,You have to love a nation that celebrates its ...,"4th Of July, Food, Patriotic"
...,...,...,...
995,Hunter S. Thompson,"When the going gets weird, the weird turn pro.","Music, Sports, Hunting"
996,Corrie Ten Boom,When a train goes through a tunnel and it gets...,"Trust, Encouraging, Uplifting"
997,Dalai Lama,If you think you are too small to make a diffe...,"Inspirational, Funny, Change"
998,Mother Teresa,"God doesn't require us to succeed, he only req...","Success, God, Mother"
999,Norman Vincent Peale,Change your thoughts and you change your world.,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.

In [20]:
driver9=webdriver.Chrome("Chromedriver.exe")

In [21]:
driver9.get("https://www.jagranjosh.com/")

In [22]:
gk=driver9.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]')
gk.click()

In [27]:
Pm=driver9.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
Pm.click()

In [28]:
table=driver9.find_element(By.XPATH,"//div[@class='table-box']")
table.click()

In [29]:
table

In [31]:
table=driver9.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]')
table

In [40]:
Prime_minister=[]
Born_Dead=[]
term_of_office=[]
remarks=[]
 

Prime=table.find_elements(By.TAG_NAME,"tr")
for i in Prime:
    cell=i.find_elements(By.TAG_NAME,"td") 
    for i in cell:
        Prime_minister.append(i.text)
        
        
Name= Prime_minister[1:90:5]
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [41]:
Born_Dead=  Prime_minister[2:90:5]
Born_Dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [42]:
term_of_office=  Prime_minister[3:90:5]
term_of_office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [43]:
remark=  Prime_minister[4:90:5]
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [71]:
print(len(Name),len(Born_Dead),len(term_of_office),len(remark))

18 18 18 18

In [70]:
df9=pd.DataFrame({"Prime_Minister":Name[0:17],"Born_Dead":Born_Dead[0:17],"term_of_office":  term_of_office[0:17],"remark":remark[0:17]})
df9

,Prime_Minister,Born_Dead,term_of_office,remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/

In [57]:
driver10=webdriver.Chrome("Chromedriver.exe")

In [58]:
driver10.get("https://www.motor1.com/")

In [59]:
option=driver10.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
option.click()

In [60]:
feature=driver10.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/a")
feature.click()

In [62]:
list1=driver10.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a")
list1.click()

In [63]:
car=driver10.find_element(By.XPATH,"/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[7]/div/div[1]/h3/a")
car.click()

In [65]:
car_name=[]
price=[]


car1=driver10.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car1[0:50]:
    c1=i.text
    car_name.append(c1)
    
    
price1=driver10.find_elements(By.TAG_NAME,'strong')
for i in price1[0:50]:
    p1=i.text
    price.append(p1)

In [66]:
print(len(car_name),len(price))

50 50

In [67]:
df10=pd.DataFrame({"Car_name":car_name,"Price":price})
df10

                           Car_name                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million